

body
{
    padding: 10px;
    background-color: rgb(113, 143, 242);
}

section
{
    display: flex;
    flex-direction: row;
}

img
{
    width:100px;
}
li img
{
    margin-bottom: 30px;
}

ul button
{
    margin-bottom: 30px;
}

#carrito
{
    background-color:rgb(85, 117, 247);
}

#lista,#carrito 
{
    width: 50vw;
}

#eliminarProducto
{
    display:flex;
}
.miniatura
{
    width:60px;
}






